# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# FoundryVTT configuration files
__pycache__/
target/
backups/
# !qvtt/dist/
# !qvtt/dist/
# qvtt-data/Config/
# qvtt/
vttdata/
vttdata/Logs/
vttdata/Data/modules/
vttdata/Data/systems/
vttdata/Data/assets/srd5e

vttdata/Config/admin.txt
vttdata/Config/license.json
